{% extends '_layouts/base.html' %}

{% block title %}Blog{% endblock %}

{% block headline %}<h2>Blog</h2>{% endblock %}

{% block content %}
    {% for post in post_list %}
        <h5>{{ post.date|date:"Y-m-d" }}<a href="/blog/{{ post.id }}?page={{ page_obj.number }}"> {{ post.title }}</a></h5>
    {% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'blog' page_obj.previous_page_number %}">&lt;</a>
                {% endif %}
                {% for pn in paginator.page_range %}
                    {% if not forloop.first %}
                        &nbsp;&nbsp;|&nbsp;&nbsp;
                    {% endif %}
                    {% if page_obj.number != pn %}
                        <a href="{% url 'blog' pn %}">
                    {% endif %}
                    {{ pn }}
                    {% if page_obj.number != pn %}
                        </a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="{% url 'blog' page_obj.next_page_number %}">&gt;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
